@model IEnumerable<ProsperaModel.Models.ConfiguracaoUsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificacoesAtivadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificacoesAtivadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario.EmailUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConfiguracaoUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConfiguracaoUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConfiguracaoUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
