@model ProsperaModel.Models.OrcamentoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrcamentoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatEmissaoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatEmissaoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataValidadeOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataValidadeOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContatoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeContatoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tele2Orca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tele2Orca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroOrca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroOrca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario.EmailUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrcamento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
