@model ProsperaModel.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SobrenomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SobrenomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatCadastroUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatCadastroUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatUltimoAcesUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatUltimoAcesUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTerceiros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
