@model IEnumerable<ProsperaModel.Models.UsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobrenomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatCadastroUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatUltimoAcesUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTerceiros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobrenomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatCadastroUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatUltimoAcesUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTerceiros)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
