@model ProsperaModel.Models.MetaModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MetaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatInicioMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatInicioMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTerminoMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTerminoMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario.EmailUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMeta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
