@model SeuProjeto.Models.TerceirosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TerceirosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2Terceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone2Terceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UFTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UFTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEPTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEPTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoTerceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoTerceiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContaBancariaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContaBancariaModel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTerceiros">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
