@model ProsperaModel.Models.ContaBancariaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContaBancariaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTitulaContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTitulaContBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumContBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgenciaContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgenciaContBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoContBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsContBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsContBan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContBancaria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
