@model ProsperaModel.Models.ContasReceberModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContasReceberModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatEmissaoCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatEmissaoCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatVencimentoCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatVencimentoCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevedorCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevedorCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPgtoCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPgtoCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaBanCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaBanCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgenciaContBanCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgenciaContBanCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario.EmailUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContasReceber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
